@import './sic.css';

.blogbox-post {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blogbox-post:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.blogbox-header {
    width: 100%;
    height: 70%;
}

.blogbox-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.blogbox-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 45px;
}

.blogbox-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.blogbox-date {
    font-family: var(--font);
    color: var(--accent-color-shade1);
    font-size: var(--font-size-small);
}

.blogbox-title {
    color: var(--black-color);
    font-family: var(--font);
    font-size: var(--font-size-base);
    font-weight: bold;
}

.blogbox-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogbox-icon {
    width: 18px;
    height: 18px;
}

.blogbox-stats {
    display: flex;
    gap: 5px;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--black-color);
}

.blogbox-details-text {
    font-family: var(--font);
    color: var(--white-color);
    font-size: var(--font-size-base);
    font-weight: bold;
}

.blogbox-difficulty {
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--success-color);
}