@import './static.css';

.blogcontent-content {
    margin: 0 auto;
    width: auto;
    max-width: 850px;
}

.blogcontent-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.blogcontent-title {
    font-family: var(--font);
    font-size: var(--font-size-xlarge);
    color: var(--black-color);
    font-weight: bold;
}

.blogcontent-date {
    font-family: var(--font);
    font-size: var(--font-size-base);
    color: var(--accent-color-shade1);
}

.blogcontent-image {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.blogcontent-tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.blogcontent-stats {
    display: flex;
    gap: 5px;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--black-color);
}

.blogcontent-icon {
    width: 18px;
    height: 18px;
}

.blogcontent-details-text {
    font-family: var(--font);
    color: var(--white-color);
    font-size: var(--font-size-base);
}

.blogcontent-difficulty {
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.blogcontent-difficulty-easy {
    background-color: var(--success-color);
}

.blogcontent-difficulty-medium {
    background-color: var(--warning-color);
}

.blogcontent-difficulty-hard {
    background-color: var(--danger-color);
}

.blogcontent-divider {
    border: 1px dotted var(--accent-color-shade1);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Generated Content Style*/
.blogcontent-h1 {
    font-family: var(--font);
    font-size: var(--font-size-xlarge);
}

.blogcontent-h2 {
    font-family: var(--font);
    font-size: var(--font-size-large);
}

.blogcontent-h3 {
    font-family: var(--font);
    font-size: var(--font-size-meduim);
}

.blogcontent-h4 {
    font-family: var(--font);
    font-size: var(--font-size-base);
}

.blogcontent-h5 {
    font-family: var(--font);
    font-size: var(--font-size-small);
}

.blogcontent-h6 {
    font-family: var(--font);
    font-size: var(--font-size-small);
}

.blogcontent-p {
    font-family: var(--font);
    font-size: var(--font-size-base);
    text-align: justify;
    line-height: 1.4em;
}

.blogcontent-ol {
    font-family: var(--font);
    margin-top: 1px;
    margin-bottom: 1px;
}

.blogcontent-ul {
    font-family: var(--font);
    margin-top: 1px;
    margin-bottom: 1px;
}

.blogcontent-ol-item {
    font-family: var(--font);
    font-size: var(--font-size-base);
}

.blogcontent-ul-item {
    font-family: var(--font);
    font-size: var(--font-size-base);
}

.blogcontent-strong {
    font-family: var(--font);
    font-size: var(--font-size-base);
}

.blogcontent-em {
    font-family: var(--font);
}

.blogcontent-img {
    font-family: var(--font);
    width: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogcontent-a {
    font-family: var(--font);
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.blogcontent-a:visited {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.blogcontent-hr {
    font-family: var(--font);
    border: 1px solid var(--black-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogcontent-br {
    font-family: var(--font);
}

.blogcontent-ol-item {
    font-family: var(--font);
    margin-left: 3em;
}

.blogcontent-ul-item {
    font-family: var(--font);
    margin-left: 2.1em;
}