@import './static.css';

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: var(--font-size-large);
    font-family: var(--font);
    font-weight: bold;
    color: var(--black-color);
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;

}
