@import './variables.css';

.content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
}

.title {
    font-size: 32px;
    font-weight: 800;
    font-family: var(--font);
    color: var(--black-color);
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;

}
