@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}

:root {
    --primary-color: #F54900;
    --primary-color-shade1: #F76D33;
    --primary-color-shade2: #F99266;
    --primary-color-shade3: #FBB699;

    --secondary-color: #F1F5F9;
    --secondary-color-shade1: #C1C4C7;
    --secondary-color-shade2: #919395;
    --secondary-color-shade3: #797B7D;

    --accent-color: #0F172B;
    --accent-color-shade1: #272E40;
    --accent-color-shade2: #575D6B;
    --accent-color-shade3: #878B95;

    --white-color: white;
    --black-color: black;

    --success-color: #3C9743;
    --success-color-shade1: #33D473;
    --success-color-shade2: #66DF96;

    --warning-color: #97622C;
    --warning-color-Shade1: #A17241;
    --warning-color-shade2: #AC8156;

    --danger-color: #C10007;
    --danger-color-shade1: #CD3339;
    --danger-color-shade2: #DA666A;

    --font-size-small: 12px;
    --font-size-base: 16px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-xlarge: 28px;
    --font-size-xxlarge: 32px;
    --font-size-xxxlarge: 64px;
}