@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}

:root {
    --primary-color: #4100F5;
    --primary-color-shade1: #6733f7;
    --primary-color-shade2: #7a4df8;
    --primary-color-shade3: #8d66f9;

    --secondary-color: #7F76C9;
    --secondary-color-shade1: #726ab5;
    --secondary-color-shade2: #665ea1;
    --secondary-color-shade3: #59538d;

    --accent-color: #AAA3CA;
    --accent-color-shade1: #9993b6;
    --accent-color-shade2: #8882a2;
    --accent-color-shade3: #77728d;

    --white-color: white;
    --black-color: black;

    --success-color: #2C9743;
    --success-color-shade1: #53AB66;
    --success-color-shade2: #DCF1E1;

    --warning-color: #97622C;
    --warning-color-shade1: #AB7F53;
    --warning-color-shade2: #F1E6DC;

    --danger-color: #B82D2D;
    --danger-color-shade1: hsl(0, 35%, 50%);
    --danger-color-shade2: #F1DCDC;

    --font: 'Courier New', Courier, monospace;

    --font-size-small: 12px;
    --font-size-base: 16px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-xlarge: 28px;
    --font-size-xxlarge: 32px;
    --font-size-xxxlarge: 64px;
}