site_name: Mscribe Docs
site_description: Mscribe Blog documentation
repo_url: https://github.com/mscribe/mscribe
repo_name: mscribe
theme:
    name: material
    features:
        - content.code.annotate
        - content.code.copy
        - content.footnote.tooltips
        - content.tabs.link
        - content.tooltips
        - navigation.footer
        - navigation.indexes
        - navigation.instant
        - navigation.instant.prefetch
        - navigation.instant.progress
        - navigation.path
        - navigation.tabs
        - navigation.top
        - navigation.tracking
        - search.highlight
        - search.share
        - search.suggest

    palette:
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          toggle:
              icon: material/brightness-7
              name: Switch to system preference

        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: slate
          toggle:
              icon: material/brightness-2
              name: Switch to dark mode

markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences

extra_css:
    - assets/css/termynal.css

extra_javascript:
    - assets/js/termynal.js

nav:
    - Home: index.md

