<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/blogpost.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/blogcontent.css') }}">
</head>

<body>
    {% import 'macros/navbar.html' as navbar %}
    {% import 'macros/footer.html' as footer %}
    {% import 'macros/blogcontent.html' as blogcontent %}

    {{ navbar.navbar() }}

    <div class="content">
        {{ blogcontent.blogcontent() }}
    </div>

    {{ footer.footer() }}

</body>

</html>