<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    {% import 'macros/navbar.html' as navbar %}
    {% import 'macros/footer.html' as footer %}
    {% import 'macros/blogbox.html' as blogbox %}

    {{ navbar.navbar() }}
    <div class="content">
        <div class="header">
            <div>
                <p class="title">What to read today?</p>
            </div>
        </div>

        <div class="blogs">
            {% if blogs %}
            {% for blog in blogs %}
            {{ blogbox.blogbox(blog) }}
            {% endfor %}
            {% else %}
            <p class="no-blogs">No blogs available.</p>
            {% endif %}
        </div>

        <div class="navigation">
            {% if pagination.has_prev %}
            <a href="{{ url_for('index.index', page=pagination.prev_num) }}" class="navigation-button">Previous</a>
            {% else %}
            <span class="navigation-button disabled">Previous</span>
            {% endif %}
            {% if pagination.has_next %}
            <a href="{{ url_for('index.index', page=pagination.next_num) }}" class="navigation-button">Next</a>
            {% else %}
            <span class="navigation-button disabled">Next</span>
            {% endif %}
        </div>
    </div>
</body>

</html>