<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/blogbox.css') }}">
</head>

<body>
    {% import 'macros/navbar.html' as navbar %}
    {% import 'macros/footer.html' as footer %}
    {% import 'macros/blogbox.html' as blogbox %}

    {{ navbar.navbar() }}
    <div class="content">
        <div class="header">
            <div>
                <p class="title">What to read today?</p>
            </div>
        </div>

        <div class="blogs">
            {% if blogs.items %}
            {% for blog in blogs %}
            {{ blogbox.blogbox(blog) }}
            {% endfor %}
            {% else %}
            <p class="no-blogs">No blogs available.</p>
            {% endif %}
        </div>

        <div class="navigation">
            {% if pagination.has_prev %}
            <button class="navigation-button">Previous</button>
            {% else %}
            <button class="navigation-button" disabled>Previous</button>
            {% endif %}

            {% if pagination.has_next %}
            <button class="navigation-button">Next</button>
            {% else %}
            <button class="navigation-button" disabled>Next</button>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for ('static', filename='js/index.js') }}"></script>
</body>

</html>