<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>mscribe</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader/shared/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader/shared/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader/post/post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader/post/post-preview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader/post/post-content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader/post/post-extras.css') }}">
</head>

<body>
    {% import 'macro/shared/navbar.html' as navbar %}
    {% import 'macro/shared/footer.html' as footer %}
    {% import 'macro/post/post-preview.html' as post_preview %}
    {% import 'macro/post/post-content.html' as post_content %}
    {% import 'macro/post/post-extras.html' as post_extras %}

    {{ navbar.build() }}
    <div class="post-container">
        <div class="post">
            {{ post_preview.build() }}
            {{ post_content.build() }}
            {{ post_extras.build() }}
        </div>
    </div>
    {{ footer.build() }}

    <script src='index.js'></script>
</body>

</html>