{% macro blogbox() %}
<div class="blogbox-post">
    <div class="blogbox-header">
        <img class="blogbox-image" src="{{ url_for('static', filename='images/image.png') }}" alt="Blog Image">
    </div>
    <div class="blogbox-body">
        <div class="blogbox-info">
            <p class="blogbox-title">Tada 420: Telport your cursor</p>
            <p>5 minutes</p>
        </div>
        <div class="blogbox-details">
            <p>difficulty</p>
            <p>readers</p>
            <p>shared time</p>
        </div>
    </div>
</div>
{% endmacro %}
