{% macro blogbox(language, blog) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogbox.css') }}">


<a href="/{{ language }}/blog/{{ blog.key }}">
    <div id="{{ blog.key }}" class="blogbox-post">
        <div class="blogbox-header">
            <img class="blogbox-image" src="{{ url_for('static', filename='images/image.png') }}" alt="Blog">
        </div>
        <div class="blogbox-body">
            <div class="blogbox-info">
                <p class="blogbox-date">{{ blog.created_date }}</p>
                <p class="blogbox-title">{{ blog.title }}</p>
            </div>
            <div class="blogbox-details">
                <div class="blogbox-stats">
                    <img class="blogbox-icon" src="{{ url_for('static', filename='images/clock.svg') }}" alt="clock">
                    <p class="blogbox-details-text">{{ blog.reading_time }} min</p>
                </div>
                <div class="blogbox-stats">
                    <img class="blogbox-icon" src="{{ url_for('static', filename='images/person.svg') }}" alt="person">
                    <p class="blogbox-details-text">{{ blog.readers }}</p>
                </div>
                <div>
                    {% set difficulty_classes = {
                    "EASY": "blogbox-difficulty-easy",
                    "MEDIUM": "blogbox-difficulty-medium",
                    "HARD": "blogbox-difficulty-hard"
                    } %}

                    {% set difficulty_key = blog.difficulty.key %}
                    {% set difficulty_class = difficulty_classes.get(difficulty_key, "blogbox-difficulty-hard") %}

                    <p class="blogbox-difficulty {{ difficulty_class }}
                    blogbox-details-text">{{ blog.difficulty.value}}</p>

                </div>
            </div>
        </div>
    </div>
</a>
{% endmacro %}