{% macro blogcontent(language, blog) %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/blogcontent.css') }}">

<div class="blogcontent-content">
    <img class="blogcontent-image" src="{{ blog.image_url }}" alt="Blog">
    <hr class="blogcontent-divider">
    <div class="blogcontent-header">
        <div>
            <p class="blogcontent-title">{{ blog.title }}</p>
            <p class="blogcontent-date">{{ blog.created_date}}</p>
            <div class="blogcontent-tags">
                <div class="blogcontent-stats">
                    <img class="blogcontent-icon" src="{{ url_for('static', filename='images/clock.svg') }}"
                        alt="clock">
                    <p class="blogcontent-details-text">{{ blog.reading_time}} min</p>
                </div>
                <div class="blogcontent-stats">
                    <img class="blogcontent-icon" src="{{ url_for('static', filename='images/person.svg') }}"
                        alt="person">
                    <p class="blogcontent-details-text">{{ blog.readers }}</p>
                </div>
                <div>
                    {% set difficulty_classes = {
                    "EASY": "blogcontent-difficulty-easy",
                    "MEDIUM": "blogcontent-difficulty-medium",
                    "HARD": "blogcontent-difficulty-hard"
                    } %}

                    {% set difficulty_key = blog.difficulty.key %}
                    {% set difficulty_class = difficulty_classes.get(difficulty_key, "blogcontent-difficulty-hard") %}

                    <p class="blogcontent-difficulty {{ difficulty_class }}
                    blogcontent-details-text">{{ blog.difficulty.value }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="blogcontent-divider">
    <div class="blogcontent-container">
        {{ blog.body |safe }}
    </div>
</div>

<script src="{{ url_for ('static', filename='js/blogcontent.js') }}"></script>
{% endmacro %}