{% macro blogcontent(html_content) %}
<link rel="stylesheet" href="{{ url_for ('static', filename='css/blogcontent.css') }}">

<div class="blogcontent-content">
    <img class="blogcontent-image" src="{{ url_for('static', filename='images/image.png') }}" alt="Blog">
    <hr class="blogcontent-divider">
    <div class="blogcontent-header">
        <div>
            <p class="blogcontent-title">Tada 420: Telport your cursor</p>
            <p class="blogcontent-date">02 Sep 2022</p>
            <div class="blogcontent-tags">
                <div class="blogcontent-stats">
                    <img class="blogcontent-icon" src="{{ url_for('static', filename='images/clock.svg') }}" alt="clock">
                    <p class="blogcontent-details-text">5 min</p>
                </div>
                <div class="blogcontent-stats">
                    <img class="blogcontent-icon" src="{{ url_for('static', filename='images/person.svg') }}" alt="person">
                    <p class="blogcontent-details-text">1</p>
                </div>
                <div>
                    <p class="blogcontent-difficulty blogcontent-details-text">Easy</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="blogcontent-divider">
    <div class="blogcontent-container">
        {{ html_content|safe }}
    </div>
</div>

<script src="{{ url_for ('static', filename='js/blogcontent.js') }}"></script>
{% endmacro %}