{% macro blogbox(blog) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogbox.css') }}">

<div class="blogbox-post">
    <div class="blogbox-header">
        <img class="blogbox-image" src="{{ url_for('static', filename='images/image.png') }}" alt="Blog">
    </div>
    <div class="blogbox-body">
        <div class="blogbox-info">
            <p class="blogbox-date">02 Sep 2022</p>
            <p class="blogbox-title">Tada 420: Telport your cursor</p>
        </div>
        <div class="blogbox-details">
            <div class="blogbox-stats">
                <img class="blogbox-icon" src="{{ url_for('static', filename='images/clock.svg') }}" alt="clock">
                <p class="blogbox-details-text">5 min</p>
            </div>
            <div class="blogbox-stats">
                <img class="blogbox-icon" src="{{ url_for('static', filename='images/person.svg') }}" alt="person">
                <p class="blogbox-details-text">1</p>
            </div>
            <div>
                <p class="blogbox-difficulty blogbox-details-text">Easy</p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}