{% macro navbar() %}
<nav class="navbar">
    <div>
        <p class="title">TadaBlog</p>
    </div>

    <div>
        <form class="search-container" action="/search" method="get">
            <input class="search-bar" type="text" name="query" placeholder="Search..." required>
            <button class="search-button" type="submit">
                <img class="search-image" src="{{ url_for('static', filename='images/search.svg') }}" alt="Button Image">
            </button>
        </form>
    </div>
</nav>
{% endmacro %}
