.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    height: 350px;
    padding: 48px 24px 48px 24px;
}

.footer-content {
    display: flex;
    gap: 64px;
}

.footer-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-title {
    display: flex;
    font-size: var(--font-size-large);
    color: var(--white-color);
    font-weight: 700;
}

.footer-body {
    font-size: var(--font-size-medium);
    color: var(--secondary-color-shade3);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
}

.footer-divider {
    background: var(--accent-color-shade2);
    width: 90%;
    height: 1px;
    border: none;
    margin-top: 48px;
    margin-bottom: 48px;
}

.footer-copyright {
    color: var(--secondary-color-shade3);
    font-size: 16px;
}