.navbar-container {
    background: #FFFFFF;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid rgba(69, 85, 107, 0.3);
}

.navbar-blog-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.navbar-blog-logo img {
    border-radius: 8px;
}

.navbar-blog-logo span {
    font-family: 'Outfit';
    font-size: 24px;
    font-weight: 700;
    color: #1D293D;
}

.navbar-blog-pages {
    display: flex;
    gap: 32px;
}

.navbar-blog-pages span {
    font-family: 'Outfit';
    font-size: 18px;
    color: black;

}

.navbar-blog-items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-blog-items .subscribe {
    width: 130px;
    height: 52px;
    background: #1D293D;
    color: white;
    border-radius: 80px;
    outline: none;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 700;
}

.navbar-blog-items .search {
    width: 24px;
    height: 24px;
    color: rgb(69, 85, 107);
}